{% extends 'base_site.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <p>
    {{ object }}
  </p>

  <form action="{% url 'polls:vote-form' object.id %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">投票</button>
  </form>

  <hr>
  <p>
    <a href="{% url 'polls:results' object.id %}">看结果</a>
  </p>
{#    <p>#}
{#    <a href="{% url 'polls:edit_question_form' object.id %}">修改投票问题描述</a>#}
{#  </p>#}
{#        <p>#}
{#    <a href="{% url 'polls:new_choice_form' %}">增加问题选项描述</a>#}
{#  </p>#}
{#    <p>#}
{#    <a href="{% url 'polls:new_choice_form' %}">修改问题选项描述</a>#}
{#  </p>#}
{% endblock %}